:root {
    --font-color-base: #000;
    --font-color-heading: #000;
    --font-color-primary: #000;
    --font-color-secondary: #ef441f;
    --font-color-warn: #ec2a1d;
    --font-color-success: #0985df;
    --max-width: 600px;
    --font-XS: 11px;
    --font-S: 12px;
    --font-M: 14px;
    --font-L: 18px;
    --font-XL: 24px;
    --font-XXL: 30px;
    --point-color: #de3162;
    --back-color: #1d1d1d;
    --swiper-navigation-size: 44px;
    --swiper-theme-color: #007aff;
    
}

a {
    color: var(--font-color-base);
    text-decoration: none;
}

a:-webkit-any-link {
    cursor: pointer;
}

h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}

h2 {
    font-weight: bold;
}

form {
    display: block;
    margin-top: 0em;
    unicode-bidi: isolate;
}

input, select, textarea {
    font-size: 100%;
    font-family: "Pretendard Variable", Pretendard, Roboto, "Helvetica Neue", "Segoe UI", "Noto Sans KR", "Malgun Gothic", "Segoe UI Emoji", "Sege UI Symbol", sans-serif;
    color: var(--font-color-base);
    vertical-align: middle;
    border-radius: 0;
    box-sizing: border-box;
}

legend {
    visibility: hidden;
    position: absolute;
    left: -9999px;
    top: -9999px;
    width: 0;
    height: 0;
    line-height: 0;
}

input[type="button"], input[type="text"], input[type="password"], input[type="tel"], input[type="image"], textarea, select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}

button {
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    overflow: visible;
    padding: 0;
    margin: 0;
    border: 0;
    cursor: pointer;
    background: none;
}